
@media only screen and (min-width: 950px)  {

.input {
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    padding: 0.8em;
    margin-top: 2em;
    opacity: 0.5;
    height: 20px;
    width: 15%;
}

}

@media only screen and (max-width: 949px)  {

.input {
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    padding: 0.8em;
    margin-top: 1em;
    opacity: 0.5;
    height: 20px;
    width: 100%;
}
}