table, td, th {
    border: 1px solid #eaeaea;
    color: #7a7a7a;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td div {
    margin: 0.3em;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    text-align: center;
}

.opacity {
    opacity: 0.5;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: red;
    opacity:0.2;
    padding: 1.5em;
}

